{% load staticfiles %}
{% load job_extras %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <meta name="viewport" content="width=device-width, initial-scale=0.76, maximum-scale=3.0, minimum-scale=0.76">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <title>{% block title %}{% endblock %}</title>
    <script src="/static/cust/jquery-1.12.4.js"></script>
    <link rel="stylesheet" href="/static/colors/vendor/fontawesome/css/font-awesome.css">
    <link rel="stylesheet" href="/static/colors/vendor/metisMenu/dist/metisMenu.css">
    <link rel="stylesheet" href="/static/colors/vendor/animate.css/animate.css">
    <link rel="stylesheet" href="/static/colors/vendor/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/colors/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="/static/colors/fonts/pe-icon-7-stroke/css/helper.css">
    <link rel="stylesheet" href="/static/colors/styles/style.css">

    {% block custom_head %}{% endblock %}
</head>

<body>
<!-- Header -->
<ul id="header">
    <div class="color-line"></div>
    <div id="logo" class="light-version">
        <span>
            <a href="/"><img src="/static/colors/images/2000px-Django_logo.png" alt="logo" width="100" class="img-square m-b"></a>
        </span>
    </div>
    <nav role="navigation">
        <ul class="navbar-right">
            <ul class="nav navbar-nav no-borders">
                <li class="dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                        <h6>Equities</h6>
                    </a>
                    <div class="dropdown-menu hdropdown bigmenu flipInX">
                        <table>
                            <tbody>
                            <tr>
                                <td>
                                    <a href="equities/analysis/">
                                        <i class="pe pe-7s-shuffle text-success"></i>
                                        <h5>Analyze Stocks</h5><span class="label label-success"></span>
                                    </a>
                                {% if user|has_group:"admin" or user.is_superuser or user.is_staff %}
                                <td>
                                    <a href="admin/">
                                        <i class="pe pe-7s-server text-warning"></i>
                                        <h5>Admin</h5><span class="label label-success"></span>
                                    </a>
                                 {%  endif %}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                        <i class="pe-7s-keypad"></i>
                    </a>
                    <div class="dropdown-menu hdropdown bigmenu flipInX">
                        <table>
                            <tbody>
                            <tr>
                                <td>
                                    <a href="#">
                                        <i class="pe pe-7s-users text-success"></i>
                                        <h5>Contacts</h5><span class="label label-success">Coming Soon</span>
                                    </a>
                                </td>
                                <td>
                                    <a href="#">
                                        <i class="pe pe-7s-display1 text-primary"></i>
                                        <h5>Dashboard</h5><span class="label label-success">Coming Soon</span>
                                    </a>
                                </td>
                                {%  if user.is_superuser or user.is_staff %}
                                <td>
                                    <a href="static/files/2020_Rack_Diagram.pdf" target="_blank">
                                        <i class="pe pe-7s-file text-danger"></i>
                                        <h5>Rack Elevation</h5><span class="label label-success">New</span><span class="label label-warning">Internal Only</span>
                                    </a>
                                </td>
                                {% endif %}
                                <td>
                                    <a href="/wifi/voucher/">
                                        <i class="pe pe-7s-network text-danger"></i>
                                        <h5>Wifi Voucher Access</h5><span class="label label-info">Limited Access</span>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                        <i class="pe-7s-user"></i>
                    </a>
                    <ul class="dropdown-menu hdropdown notification flipInX">
				        {% if user.is_authenticated %}
                            <li><a href="#"><h3 class="text-primary">{{ user.get_username }}</h3></a></li>
                            <li><a href="/user/apikeys/">My API Key</a></li>
                        {% if user.is_superuser or user.is_staff%}
                            <div class="header-line h-bg-navy-blue extreme-color"></div>
                            <li><a href="/admin/">Admin panel</a></li>
                            <div class="header-line h-bg-navy-blue extreme-color"></div>
                            <li><a href="/swagger">SwaggerUI</a></li>
                        {% endif %}
                            <li><a href='/accounts/logout/?next=/'>Logout</a></li>
                        {% else %}
                            <li><a href="/accounts/login/">Log In</a></li>
				        {% endif %}
                    </ul>
                </li>
            </ul>
        </ul>
    </nav>
</ul>

<!--Navigation-->
<!--<aside id="menu">-->
    <!--<div id="navigation">-->
        <!--<div class="profile-picture"><a href="/"><img src="/static/colors/images/logo.png" alt="logo" width="200" class="img-square m-b"></a>-->
            <!--<ul class="nav" id="side-menu">-->
                <!--<li>-->
                    <!--<a href="#"> <span class="nav-label">Views</span> <span class="label label-success pull-right">Coming Soon</span></a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#"><span class="nav-label">Jobs</span><span class="fa arrow"></span> </a>-->
                    <!--<ul class="nav nav-second-level">-->
                        <!--<li><a href="/job">Job Monitor</a></li>-->
                        <!--<li><a href="/job_errors">Job Errors</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
<!--</aside>-->

<!-- Main Wrapper -->
<div id="wrapper">
    <div class="normalheader transition animated fadeIn">
        <div class="hpanel">
            <div class="panel-body">
                <a class="small-header-action" href="">
                    <div class="clip-header">
                        <i class="fa fa-arrow-up"></i>
                    </div>
                </a>
                <div id="hbreadcrumb" class="pull-right m-t-none">
                    <ol class="hbreadcrumb breadcrumb">
                        {% block bread_crumbs %}{% endblock %}
                    </ol>
                </div>
                {% block bread_crumbs_title %}{% endblock %}
            </div>
        </div>
    </div>
    <div class="content animate-panel" id="mainBody">
        {% block main_body %}{% endblock %}
        <div class="row">
        </div>
    </div>
</div>

<!-- Footer-->
<footer class="footer">
    <div>
        <span class="pull-right">
            <div>
                Application Engineering
            </div>
        </span>
    </div>
    <div>
        Oliver I Persona property | 2020
    </div>
</footer>
<!-- Vendor scripts -->
<script src="/static/colors/vendor/d3/d3.min.js"></script>
<script src="/static/colors/vendor/c3/c3.min.js"></script>
<script src="/static/colors/vendor/jquery/dist/jquery.min.js"></script>
<script src="/static/colors/vendor/jquery-ui/jquery-ui.min.js"></script>
<script src="/static/colors/vendor/slimScroll/jquery.slimscroll.min.js"></script>
<script src="/static/colors/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/static/colors/vendor/metisMenu/dist/metisMenu.min.js"></script>
<script src="/static/colors/vendor/iCheck/icheck.min.js"></script>
<script src="/static/colors/vendor/sparkline/index.js"></script>

<!-- App scripts -->
<script src="/static/colors/scripts/homer.js"></script>

</body>
</html>
