{% extends "base.html" %}
{% load job_extras %}
{% block title %}Welcome to the Self-service applications{% endblock %}
{% block custom_head %}
<link rel="stylesheet" href="/static/colors/vendor/c3/c3.css">
{% endblock %}
{% block bread_crumbs %}
<li class="active"><span>home</span></li>
{% endblock %}
{% block bread_crumbs_title %}
<h2 class="font-light m-b-xs">
    Home Application Portal
</h2>
<small>Self service for various applications.</small>
{% endblock %}
{% block main_body %}
<div class="content animate-panel">
        <div class="row">
            <div class="col-lg-3">
                <div class="hpanel stats">
                    <div class="panel-body h-400">
                        <div class="stats-title pull-left">
                            <h4>Financial tools</h4>
                        </div>
                        <div class="stats-icon pull-right">
                            <i class="pe-7s-note2 fa-4x"></i>
                        </div>
                        <div class="m-t-xl">
                            <h1 class="text-primary">Equities</h1>
                            <hr>
                                <h5 class="font-extra-bold"><a href="/equities/analysis/">Analyze Ticker(s)</a></h5>
                                {% if user.is_superuser or user.is_staff %}
                                <hr />
                                    <h5 class="font-extra-bold"><a href="/admin/equities/equitiestracker/">Equities App Settings</a></h5>
                                {% endif %}
                        </div>
                    </div>
                    <div class="panel-footer">
                        Stock Analysis tools
                    </div>
                </div>
            </div>
            {% if user.is_superuser or user.is_staff %}
            <div class="col-lg-3">
                <div class="hpanel stats">
                    <div class="panel-body h-400">
                        <div class="stats-title pull-left">
                            <h4>Media/Content Tools</h4>
                        </div>
                        <div class="stats-icon pull-right">
                            <i class="pe-7s-film fa-4x"></i>
                        </div>
                        <div class="m-t-xl">
                            <h1 class="text-primary">Media</h1>
                            <hr>
                                <h5 class="font-extra-bold"><a href="https://www.plex.tv/" target="_blank">Plex Media</a></h5><span class="label label-info">External Site</span>
                                <hr />
                                <ul>
                                <h5 class="font-extra-bold"><a href="https://192.168.1.41:9090/" target="_blank">SabNZBd (Download Monitor)</a></h5><span class="label label-warning">Internal Only</span>
                                <hr />
                                <h5 class="font-extra-bold"><a href="http://192.168.1.41:7878/" target="_blank">Radarr (Movie Catalog)</a></h5><span class="label label-warning">Internal Only</span>
                                <hr />
                                <h5 class="font-extra-bold"><a href="http://192.168.1.41:8989/" target="_blank">Sonarr (TV Shows Catalog)</a></h5><span class="label label-warning">Internal Only</span>
                                </ul>
                        </div>
                    </div>
                    <div class="panel-footer">
                        Home Multimedia Management
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="col-lg-3">
                <div class="hpanel stats">
                    {% if user.is_superuser or user.is_staff %}
                    <div class="panel-body h-400">
                        <div class="stats-title pull-left">
                            <h4>Internal Tools</h4>
                        </div>
                        <div class="stats-icon pull-right">
                            <i class="pe-7s-tools fa-4x"></i>
                        </div>
                        <div class="m-t-xl">
                            <h1 class="text-primary">Utilities</h1>
                            <hr>
                                <h5 class="font-extra-bold"><a href="https://fastpin.myds.me:9901/" target="_blank">BigoSyno Synology Surveillance Station</a></h5><span class="label label-success">Admin Login Req'd</span>
                                <hr />
                                <h5 class="font-extra-bold"><a href="https://fastpin.myds.me:9902/" target="_blank">t630 Xpenology Surveillance Station</a></h5><span class="label label-success">Admin Login Req'd</span>
                                <hr />
                                <h5 class="font-extra-bold"><a href="https://fastpin.myds.me:9903/" target="_blank">Homenas Synology Surveillance Station</a></h5><span class="label label-success">Admin Login Req'd</span>
                                <hr />
                                {% if user.is_superuser%}
                                <ul>
                                <h5 class="font-extra-bold"><a href="https://192.168.1.9:53568" target="_blank">PowerPanel Agent</a></h5><span class="label label-warning">Internal Only</span>
                                <hr />
                                <h5 class="font-extra-bold"><a href="https://192.168.1.11/" target="_blank">D-Link PoE+ Switch</a></h5><span class="label label-warning">Internal Only</span>
                                <hr />
                                <h5 class="font-extra-bold"><a href="http://192.168.1.10/" target="_blank">Dell OpenManager Switch</a></h5><span class="label label-warning">Internal Only</span>
                                <hr />
                                <h5 class="font-extra-bold"><a href="http://192.168.1.2/" target="_blank">TP-Link TL-SG108PE Switch </a></h5><span class="label label-warning">Internal Only</span><span class="label label-info">Garage</span>
                                <hr />
                                <h5 class="font-extra-bold"><a href="http://192.168.1.60/" target="_blank">HP LJ M1536 MFP</a></h5><span class="label label-warning">Internal Only</span>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <div class="panel-footer">
                        Home Intranet Sites
                    </div>
                    {%  endif %}
                </div>
            </div>
            {% if user.is_superuser %}
            <div class="col-lg-3">
                <div class="hpanel stats">
                    <div class="panel-body h-400">
                        <div class="stats-title pull-left">
                            <h4>Infrastructure</h4>
                        </div>
                        <div class="stats-icon pull-right">
                            <i class="pe-7s-network fa-4x"></i>
                        </div>
                        <div class="m-t-xl">
                            <h1 class="text-primary">Core Apps</h1>
                                <hr />
                                <ul>
                                <h5 class="font-extra-bold"><a href="https://fastpin.myds.me:9449/nagios" target="_blank">Nagios Monitoring</a></h5><span class="label label-success">Admin Login Req'd</span>
                                <hr />
                                <h5 class="font-extra-bold"><a href="https://fastpin.myds.me:9443/" target="_blank">Portainer</a></h5><span class="label label-success">Admin Login Req'd</span>
                                <hr />
                                <h5 class="font-extra-bold"><a href="https://192.168.1.3/ui" target="_blank">VMware Web Client</a></h5><span class="label label-warning">Internal Only</span>
                                <hr />
                                <h5 class="font-extra-bold"><a href="https://192.168.1.6:5001/" target="_blank">BigoSyno Synology DiskStation Mgmt</a></h5><span class="label label-warning">Internal Only</span><span class="label label-info">DS1019+</span>
                                <hr />
                                <h5 class="font-extra-bold"><a href="https://192.168.1.12:5001/" target="_blank">Homenas Synology DiskStation Mgmt</a></h5><span class="label label-warning">Internal Only</span><span class="label label-info">DS1513+</span>
                                <hr />
                                <h5 class="font-extra-bold"><a href="https://192.168.1.17:5001/" target="_blank">t630 Xpenology DiskStation Mgmt</a></h5><span class="label label-warning">Internal Only</span>
                                <hr />
                                <h5 class="font-extra-bold"><a href="https://192.168.1.65:4343/" target="_blank">Aruba Wi-Fi</a></h5><span class="label label-warning">Internal Only</span>
                                <hr />
                                <h5 class="font-extra-bold"><a href="https://fastpin.myds.me:10443/" target="_blank">pfSense Netgate</a></h5><span class="label label-warning">Internal Only</span>
                                </ul>
                        </div>
                    </div>
                    <div class="panel-footer">
                        Monitoring & Management
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

