<div class="row">
    <div class="col-md-6">
        <table class="table-hover table table-striped table-striped table-responsive">
            <thead>
                <tr>
                    <th>Metric</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                {{ #data }}
                    {{ #analysis }}

                    <tr class="ResultRow" >
                    <tr>
                        <td>
                            Name
                        </td>
                        <td>
                            {{ name }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Sector
                        </td>
                        <td>
                            {{ #sector }}
                            {{ sector }}
                            {{ /sector }}
                            {{ ^sector }}-
                            {{ /sector }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Weekly Average Daily Return
                        </td>
                        <td>
                                {{ wk_avg_return }}%
                        </td>
                        <h2>({{ ticker_name }}) {{ name }} - Past {{ days }} days</h2>
                    </tr>
                    <tr>
                        <td>
                            Weekly Standard Deviation
                        </td>
                        <td>
                            {{ wk_std_dev }}
                        </td>
                    </tr>

                    {{ /analysis }}
                {{ /data }}
            </tbody>
        </table>
    </div>
</div>