
{{ #data }}
    {{ #analysis }}

    <tr>
        <td>
            {{ ticker_name }}
        </td>
        <td>
            {{ name }}
        </td>
        <td>
            {{ days }}
        </td>
        <td>
            {{ #sector }}
            {{ sector }}
            {{ /sector }}
            {{ ^sector }}-
            {{ /sector }}
        </td>
        <td>
            {{ wk_avg_return }}%
        </td>
        <td>
            {{ wk_std_dev }}
        </td>
        <td>
            {{ day_avg_return }}%
        </td>
        <td>
            {{ day_std_dev }}
        </td>
    </tr>
    {{ /analysis }}
{{ /data }}