{% extends "base.html" %}
{% load job_extras %}
{% block title %}Login{% endblock %}
{% block bread_crumbs %}
<li><a href='/'>home</a></li>
<li class="active"><span>login</span></li>
{% endblock %}
{% block bread_crumbs_title %}
<h2 class="font-light m-b-xs">
    Portal Login
</h2>
<small>Login to the Web Tools Portal.</small>
{% endblock %}
{% block main_body %}
<div class="login-container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">
                <h3>PLEASE LOGIN TO WEB TOOLS</h3>
                <small>Special Access is required for some tools</small>
            </div>
            <div class="hpanel">
                <div class="panel-body">
                        <form action="{% url 'login' %}" method="post" class=".form-inline" id="loginForm">
                        {% csrf_token %}
                            <div class="form-group">
                                <label class="control-label" for="id_{{ form.username.name }}">Username</label>
                                <input type="username" title="" placeholder="" required="" value="" name="username" id="username" class="form-control" autofocus>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="id_{{ form.password.name }}">Password</label>
                                <input type="password" title="Please enter your password" placeholder="" required="" value="" name="password" id="password" class="form-control">
                            </div>
                            <input type="submit" value="Login" class="btn btn-success btn-block"/>
                            <input type="hidden" name="next" value="{{ next }}" />
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}