{% extends "base.html" %}
{% load job_extras %}
{% block title %}User API keys{% endblock %}
{% block custom_head %}
<script src="/static/js/user/apikey.js"></script>
{% endblock %}

{% block bread_crumbs %}
<li><a href='/job/'>API keys</a></li>
{% endblock %}
{% block main_body %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Key</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td id="keyElem"></td>
        </tr>
    </tbody>
</table>
{% endblock %}