{% extends "base.html" %}
{% load job_extras %}
{% block title %}Equities Analyzer{% endblock %}
{% block custom_head %}
<script src="/static/js/equities/analyze_ticker.js?ver=3"></script>
<script src="/static/mustache/mustache.js"></script>
{% endblock %}
{% block bread_crumbs %}
<li><a href='/'>home</a></li>
    <li><span>equities</span></li>
    <li class="active"><span>Equities Analyzer</span></li>
{% endblock %}
{% block bread_crumbs_title %}
<h2 class="font-light m-b-xs">
    Equities Analyzer
</h2>
<small>Determine Stock Equity Performance</small>
{% endblock %}
{% block main_body %}
    <div class="row">
        <div class="col-md-12">
            <div class="equities_alerts alert" hidden>
            </div>
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col-lg-11">
            <div class="alert-info alert"><strong>*Note: </strong>You may request stock analysis sourced from Yahoo Finance below</div>
        </div>
        <div class="col-lg-1">
            <button class="btn btn-info refresh"><span class="glyphicon glyphicon-refresh" aria-hidden="false"></span> Refresh Page </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="equities_analyzer_alerts alert" hidden>
            </div>
        </div>
    </div>
<div class="row">
    <div class="col-md-12">
        <div class="hpanel stats">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-5 input-group-sm">
                        <input autofocus type="text" class="form-control TickerInput" id="TickerInput" placeholder="Enter the Stock Ticker Name (i.e. OSTK)" />
                    </div>
                    <div class="col-md-5 input-group-sm">
                        <input autofocus type="text" class="form-control TickerDaysInput" id="TickerDaysInput" placeholder="Optionally, enter number of days to review..." />
                    </div>
                    <div class="col-md-1 btn-group-sm">
                        <button type="button" tabindex="-1" class="btn btn-sm btn-success CheckTickerBtn pull-right"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Check...</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table id="myTable" class="table-hover table table-striped table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>Ticker</th>
                            <th>Name</th>
                            <th>Days Analyzed</th>
                            <th>Sector</th>
                            <th>Weekly Mean Return</th>
                            <th>Weekly Std. Dev.</th>
                            <th>Daily Mean Return</th>
                            <th>Daily Std. Dev.</th>
                        </tr>
                    </thead>
                    <tbody>
{#                        <div class="equities_analyzer"></div>#}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}