{% extends "base.html" %}
{% load job_extras %}
{% block title %}Guest WiFi{% endblock %}
{% block custom_head %}
<script src="/static/mustache/mustache.js"></script>
<script src="/static/js/wifi/voucher.js?ver=3"></script>
{% endblock %}
{% block bread_crumbs %}
<li><a href='/'>home</a></li>
    <li><span>WiFi</span></li>
    <li class="active"><span>WiFi Voucher</span></li>
{% endblock %}
{% block bread_crumbs_title %}
<h2 class="font-light m-b-xs">
    Your Wi-Fi voucher for vv19_gues
</h2>
{% endblock %}
{% block main_body %}
<div class="row">
    <div class="col-md-12">
        <div class="voucher_alerts alert" hidden></div>
    </div>
</div>
<div class="hpanel stats">
    <div class="panel-body">
        <div class="row" id="voucher_data">
            <div class="col-md-12">
                <div id="code">Loading voucher details...</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}