<div class="row">
    <div class="col-lg-12">
        {{ #data }}
        Copy voucher code below:<h2><strong><blockquote>{{ voucher }}</blockquote></strong></h2>
        <i>Valid for <strong>{{ minutes }}</strong> minutes after first use.</i><br><br>
        <h4>Return to the <a href="{{ portal_url }}"><u>authentication portal</u></a> and paste it there to login.</h4>
        <hr/>
        <h5>List of active voucher(s):</h5>
        <div class="col-md-12">
            {{ #active }}
            <li>{{ . }}</li>
            {{ /active }}
            {{ ^active }}
            <i>No valid vouchers in use at this time.</i>
            {{ /active }}
        {{ /data }}
        </div>
    </div>
</div>